---
import { Image } from 'astro:assets';
---

<div class="text-center text-white">
  <h1 class="py-2">r4spberri</h1>
  <div class="flex justify-center">
    <Image src="/r4spberri_transparent.png" alt="r4spberri logo" width="200" height="200" />
  </div>
  <div class="py-2">
    <p >Hi! I am r4spberri, a music producer from the Bay Area!</p>
    <p>I mostly create remixes but am starting to make original tracks as well!</p>
  </div>

</div>